<div class="container">
  <h4>your cupcake is here</h4>
</div>

<div class="price">
    <p>get the cupcake</p>
</div>

<% if !logged_in? %>
<div class="account">
  <h3>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  </h3>
</div>
<% end
