<h1>please login</h1>
<form class="" action=/login method="cupcake">
 <label for="email">Email:</label>
 <input type="text" name="email" value"">
 <label for="password">password:</label>
 <input type="text" name="password" value"">
 <input type="submit" name=""value"login!">
</form>
