
<h1>sign up below:</h1>


<form method="post" action="/signup">
  <p>Username: <input type="text" id="username" name="username"></p>
  <p>Password: <input type="text" id="text" name="password"></p>
  <input type="submit" id="submit" value="Sign Up">
</form>
