<h1>sign up below</h1>

<form method="post" action="/signup">
<label for="user[username]">Username:<br>
  <input type="text" name="user[username]">
</label><br>
<label for="user[password]">Password:<br>
  <input type="password" name="user[password]">
</label><br>

  <input type="submit" id="submit" value="Sign Up">
</form>
